<!-- Feature Section -->

<section id="features" class="site-padding">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title">
          <h3>Vagas <span>Disponíveis</span></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <!-- Single Feature-->
      <div class="col-sm-12">
        <div class="single-feature wow fadeInLeft">
          <div class="row">
            <div class="col-md-2">
              <div class="feature-icon">
                <i class="fa fa-bitbucket"></i>
              </div>
            </div>
            <div class="col-md-10">
              <div class="feature-text">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam</p>
                <div class="blog-info">
                  <ul>
                    <li><a href="">Date: June 05, 2016</a></li>
                    <li><a href="">Empresa</a></li>
                    <li><a href="">ReactJS</a></li>
                    <li><a href="">Plano</a></li>
                    <li><a href="">Salário R$: 14.000</a></li>
                  </ul>

                  <div class="read-more pull-right">
                    <a href="#" class="btn btn-readmore">Aplicar Agora!</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feature-->

      <!-- Single Feature-->
      <div class="col-sm-12">
        <div class="single-feature wow fadeInLeft">
          <div class="row">
            <div class="col-md-2">
              <div class="feature-icon">
                <i class="fa fa-apple "></i>
              </div>
            </div>
            <div class="col-md-10">
              <div class="feature-text">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam</p>
                <div class="blog-info">
                  <ul>
                    <li><a href="">Date: June 05, 2016</a></li>
                    <li><a href="">Empresa</a></li>
                    <li><a href="">ReactJS</a></li>
                    <li><a href="">Plano</a></li>
                    <li><a href="">Salário R$: 14.000</a></li>
                  </ul>

                  <div class="read-more pull-right">
                    <a href="#" class="btn btn-readmore">Aplicar Agora!</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feature-->

      <!-- Single Feature-->
      <div class="col-sm-12">
        <div class="single-feature wow fadeInRight">
          <div class="row">
            <div class="col-md-2">
              <div class="feature-icon">
                <i class="fa fa-automobile "></i>
              </div>
            </div>
            <div class="col-md-10">
              <div class="feature-text">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam</p>
                <div class="blog-info">
                  <ul>
                    <li><a href="">Date: June 05, 2016</a></li>
                    <li><a href="">Empresa</a></li>
                    <li><a href="">ReactJS</a></li>
                    <li><a href="">Plano</a></li>
                    <li><a href="">Salário R$: 14.000</a></li>
                  </ul>

                  <div class="read-more pull-right">
                    <a href="#" class="btn btn-readmore">Aplicar Agora!</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feature-->


    </div>


    <div class="row">

      <!-- Single Feature-->
      <div class="col-sm-12">
        <div class="single-feature wow fadeInLeft">
          <div class="row">
            <div class="col-md-2">
              <div class="feature-icon">
                <i class="fa fa-bullhorn "></i>
              </div>
            </div>
            <div class="col-md-10">
              <div class="feature-text">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam</p>
                <div class="blog-info">
                  <ul>
                    <li><a href="">Date: June 05, 2016</a></li>
                    <li><a href="">Empresa</a></li>
                    <li><a href="">ReactJS</a></li>
                    <li><a href="">Plano</a></li>
                    <li><a href="">Salário R$: 14.000</a></li>
                  </ul>

                  <div class="read-more pull-right">
                    <a href="#" class="btn btn-readmore">Aplicar Agora!</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feature-->

      <!-- Single Feature-->
      <div class="col-sm-12">
        <div class="single-feature wow fadeInLeft">
          <div class="row">
            <div class="col-md-2">
              <div class="feature-icon">
                <i class="fa fa-camera-retro"></i>
              </div>
            </div>
            <div class="col-md-10">
              <div class="feature-text">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam</p>
                <div class="blog-info">
                  <ul>
                    <li><a href="">Date: June 05, 2016</a></li>
                    <li><a href="">Empresa</a></li>
                    <li><a href="">ReactJS</a></li>
                    <li><a href="">Plano</a></li>
                    <li><a href="">Salário R$: 14.000</a></li>
                  </ul>

                  <div class="read-more pull-right">
                    <a href="#" class="btn btn-readmore">Aplicar Agora!</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feature-->

      <!-- Single Feature-->
      <div class="col-sm-12">
        <div class="single-feature wow fadeInRight">
          <div class="row">
            <div class="col-md-2">
              <div class="feature-icon">
                <i class="fa fa-coffee "></i>
              </div>
            </div>
            <div class="col-md-10">
              <div class="feature-text">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam</p>
                <div class="blog-info">
                  <ul>
                    <li><a href="">Date: June 05, 2016</a></li>
                    <li><a href="">Empresa</a></li>
                    <li><a href="">ReactJS</a></li>
                    <li><a href="">Plano</a></li>
                    <li><a href="">Salário R$: 14.000</a></li>
                  </ul>

                  <div class="read-more pull-right">
                    <a href="#" class="btn btn-readmore">Aplicar Agora!</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Feature-->


    </div>


  </div>
</section>

<!-- Feature Section -->



<!-- Empresas Work -->

<section id="feature-work" class="protfolio-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title">
          <h3>Nossos <span>Parceiros</span></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="featured-list">
    <div id="grid" class="clearfix">

      <div class="thumb">
        <a href="#">
          <img src="img/protfolio1.jpg" alt="Feature Image" />
        </a>

        <div class="thumb-rollover">
          <div class="project-title">
            <h4>Projeto Aberto</h4>
            <h5>Categoria: ReactJS</h5>
          </div>
        </div>

      </div>

      <div class="thumb">
        <a href="#">
          <img src="img/protfolio2.jpg" alt="Feature Image" />
        </a>
        <div class="thumb-rollover">
          <div class="project-title">
            <h4>Projeto Aberto</h4>
            <h5>Categoria: Web Design</h5>
          </div>
        </div>
      </div>

      <div class="thumb">
        <a href="#">
          <img src="img/protfolio3.jpg" alt="Feature Image" />
        </a>

        <div class="thumb-rollover">
          <div class="project-title">
            <h4>Projeto Aberto</h4>
            <h5>Categoria: Dev Backend</h5>
          </div>
        </div>
      </div>

      <div class="thumb">
        <a href="#">
          <img src="img/protfolio4.jpg" alt="Feature Image" />
        </a>

        <div class="thumb-rollover">
          <div class="project-title">
            <h4>Projeto Aberto</h4>
            <h5>Categoria: Web Design</h5>
          </div>
        </div>
      </div>

      <div class="thumb">
        <a href="#">
          <img src="img/protfolio5.jpg" alt="Feature Image" />
        </a>

        <div class="thumb-rollover">
          <div class="project-title">
            <h4>Projeto Aberto</h4>
            <h5>Categoria: Web Design</h5>
          </div>
        </div>
      </div>

      <div class="thumb">
        <a href="#">
          <img src="img/protfolio6.jpg" alt="Feature Image" />
        </a>

        <div class="thumb-rollover">
          <div class="project-title">
            <h4>Projeto Aberto</h4>
            <h5>Categoria: Web Design</h5>
          </div>
        </div>
      </div>

      <div class="thumb">
        <a href="#">
          <img src="img/protfolio7.jpg" alt="Feature Image" />
        </a>

        <div class="thumb-rollover">
          <div class="project-title">
            <h4>Projeto Aberto</h4>
            <h5>Categoria: Web Design</h5>
          </div>
        </div>
      </div>

      <div class="thumb">
        <a href="#">
          <img src="img/protfolio8.jpg" alt="Feature Image" />
        </a>

        <div class="thumb-rollover">
          <div class="project-title">
            <h4>Projeto Aberto</h4>
            <h5>Categoria: Web Design</h5>
          </div>
        </div>
      </div>


    </div>
  </div>


</section>

<!-- Empresas Work -->


<!-- Testimonials -->

<section id="testimonials">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="title">
          <h3>Depoimento de Quem <span>Chegou Lá</span></h3>
        </div>
      </div>
    </div>

    <div id="fawesome-carousel-two" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#fawesome-carousel-two" data-slide-to="0" class="active"></li>
        <li data-target="#fawesome-carousel-two" data-slide-to="1"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row">
            <div class="col-sm-6">
              <div class="single-testimonials">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <div class="profile-image">
                  <img src="img/client.jpg" alt="Author Image" />
                  <h4>John Doe</h4>
                  <p>Marketing Manager</p>
                </div>

              </div>
            </div>

            <div class="col-sm-6">
              <div class="single-testimonials">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <div class="profile-image">
                  <img src="img/client.jpg" alt="Author Image" />
                  <h4>John Doe</h4>
                  <p>Marketing Manager</p>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Next Slide -->
        <div class="item">
          <div class="row">
            <div class="col-sm-6">
              <div class="single-testimonials">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <div class="profile-image">
                  <img src="img/client.jpg" alt="Author Image" />
                  <h4>Jason Cheng</h4>
                  <p>Marketing Manager</p>
                </div>

              </div>
            </div>

            <div class="col-sm-6">
              <div class="single-testimonials">
                <div class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <div class="profile-image">
                  <img src="img/client.jpg" alt="Author Image" />
                  <h4>Kim Cheng</h4>
                  <p>Marketing Manager</p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Next Slide -->

      </div>

    </div>

  </div>
</section>

<!-- Testimonials -->


<!-- Contact -->
<section id="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title">
          <h3>Contate-<span>Nos</span></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14608.272959726353!2d90.38896245!3d23.744945849999997!3m2!1i1024!2i768!4f13.1!4m3!3e1!4m0!4m0!5e0!3m2!1sen!2sbd!4v1465238371126"
      width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h4>Entre Em Contato, Para Mais Informação</strong></h4>
          <form id="contactform" action="" method="post" class="validateform" name="send-contact">
            <div class="row">
              <div class="col-lg-4 field">
                <input type="text" name="name" placeholder="* Nome" />
                <div class="validation">
                </div>
              </div>
              <div class="col-lg-4 field">
                <input type="text" name="email" placeholder="* Email" />
                <div class="validation">
                </div>
              </div>
              <div class="col-lg-4 field">
                <input type="text" name="assunto" placeholder=" Assunto" />
                <div class="validation">
                </div>
              </div>
              <div class="col-lg-12 margintop10 field">
                <textarea rows="12" name="message" class="input-block-level"
                  placeholder="* Sua Menssagem..."></textarea>
                <div class="validation">
                </div>
                <p>
                  <button class="btn btn-theme margintop10 pull-left" type="submit">Enviar Mensagem</button>

                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact -->